
* {
  /*box-sizing: border-box; Inaktiverat */ 
  font-family:Arial, Helvetica, sans-serif/* Bytt ut tungläst typsnitt */
}

/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal; 
}
 


header {
  background-color: #e5ecdb;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

/* Behåller understrykning på länkar och ändrar färg */
a {
  color: rgb(3, 3, 3);
  /* text-decoration: none; Vill ha linjer under länkar */
}

a:hover {
  text-decoration: underline;
}

/* Ändrat till bättre och tydligare knappar*/
.button {
  color: #fff;
  font-size: 60px;
  padding: 20px 16px;
  border: 5px dashed black;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
}



/* Nästan osynlig text, spegelvänd, inaktiverar helt och hålllet.
.hidden-text {
  display: block;
  color: black;
  font-size: 25px;

} */

/* En behållare med mittjusterad text och en blå transparent bakgrund */
.container {
  /*width: 100%; */
  margin: auto;
  /*border: 10px solid pink; 
  background-color: rgba(0, 0, 255, 0.2); */
  text-align: center;
}

/* Ändrat till vita linjer istället för orangea prickar */
.article {
  border-bottom: 2px solid #e5ecdb;
  width: 96%;
  margin-bottom: 50px;
  padding-bottom: 50px;
  /*background: radial-gradient(circle, black, transparent); */
}

/* Breaking news text som slutat rulla och är centrerad i mitten */
  h2 {
  font-size: 36px;
  font-weight: lighter;
  color: #d20505;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

/* Navigeringsmeny med mörk bakgrund och jämnt fördelade element */
.navigation {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Navigeringslänkar */
.navigation .nav-item a {
  color: rgb(9, 9, 9);
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Bakgrundsfärg vid hover på navigationslänkar */
.navigation .nav-item:hover a {
  background-color: #acacac40;
}

/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
.image-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  
}

/* Input-fält i en container med kolumnlayout och flytande positionering */
.input-container {
  display: flex;
  gap: 15px;
  /*float: right; */
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  justify-content: right;
}

/* Inputfält med röd text och svart ram */
.input-container input {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

/* Ändrat search-knappen till mer clean design */
.input-container button {
  /*background-color: darkred; */
  min-width: 48px;
  min-height: 48px;
  background-color: rgb(10, 10, 10);
  color: white;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;

  
}


#flower {
  mix-blend-mode: multiply; /* Gör så att den vita bakgrunden försvinner */
  width: 300px;
  height: auto;

}

.lunarText{
  font-size: medium;
  font-style: italic;

}




/* Ändrat "click here" knappen till mer clean design */
.button {
  display: inline-block;
  padding: 8px 12px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-top: 20px;
}

/* Inaktiverat design för "fake ad" med blinkande bakgrund och fast position längst ner */
/* #fake-ad {
  position: fixed;
  bottom: 0;
  width: 40%;
  background: repeating-radial-gradient(circle, cyan, magenta 10%, yellow 20%);
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  display: none;
} */

/* Sektion med centrerad layout */
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text med en hover-effekt som drastiskt krymper storleken 
.btext {
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 10px;
  font-weight: bold;
  transition: transform 0.5s ease-in-out, font-size 0.5s ease-in-out,
    padding 0.5s ease-in-out;
} */

/* På hover minskas texten kraftigt, nästan osynlig */
/*.btext:hover {
  transform: scale(0.1);
  font-size: 1px;
  padding: 1px;
} */

/* Bild som roterar mellan -45 och 45 grader */
/*.rotating-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

} */

/* Nyckelbildning för att rotera bilden åt vänster och höger */
/*@keyframes rotateLeftRight {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
} */
